.root {
  --logo-width: 3rem;
  --logo-padding: 2px;

  display: block;
  width: calc(var(--logo-width) - (var(--logo-padding) * 2));
  height: calc(100% - (var(--logo-padding) * 2));
  padding: var(--logo-padding);
  border-radius: $default_border_radius;

  .link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;

    .logoIcon {
      fill: var(--primary-colour-lighter);
      stroke: var(--primary-colour-darker);
      stroke-width: 1px;
      paint-order: stroke markers fill;
      filter: blur(1px);
    }

    .imageSm {
      display: block;
    }

    .imageMd {
      display: none;
    }

    .imageLg {
      display: none;
    }
  }
}

@include md {
  .root {
    --logo-width: 4rem;
    .link {
      .imageSm {
        display: none;
      }

      .imageMd {
        display: block;
      }
    }
  }
}

@include lg {
  .root {
    --logo-width: 12rem;

    .link {
      .imageSm {
        display: none;
      }

      .imageMd {
        display: none;
      }

      .imageLg {
        display: block;
      }
    }
  }
}
