$option_padding: 5px;

.root {
  width: 100%;
  height: 100%;
  background-color: var(--primary-colour-base-opaque1);
  border-radius: $default_border_radius;

  @include raisedContainer();

  .selectBox {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - ($option_padding * 2));
    height: 2rem;
    min-height: 2rem;
    padding: 0 $option_padding;

    p {
      margin: 0;
      padding: 0;
      text-align: center;
      align-content: center;
    }
  }
}
