.root {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: $default_border_radius;
  background-color: var(--primary-colour-base);
  transition: background-color $theme_change_transition;

  .leftSide {
    display: flex;
    height: 100%;
    width: 50%;

    .burgerContainer {
      height: 36%;
      width: 2rem;
      display: flex;
      margin: auto var(--nav-spacing);
    }
  }

  .rightSide {
    display: flex;
    justify-content: end;
    gap: 2rem;
    height: 2rem;
    width: 50%;
    margin: auto 0;
    padding-right: $xl_nav_spacer;

    .themeSelectWrapper {
      width: 100px;
      height: 100%;
    }

    .loginButtonContainer {
      width: 100px;
      height: 100%;
    }
  }
}
