$panel-border-radius: 10px;
$galleryButtonWidthMobile: 75px;

@property --wipe-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

.heroContainer {
  position: relative;
  display: flex;
  min-height: 58px;
  width: 100%;
  padding: var(--content-padding) 0 0 0;
  background-color: var(--primary-colour-base);
  border-bottom: 2px solid var(--border-colour-base);
  transition: background-color $theme_change_transition, width $menu_transition;

  .logoContainer {
    position: relative;
    width: 300px;
    height: 58px;
    margin: auto 0 0 auto;

    .logo {
      background-color: var(--primary-colour-dark);
      padding: var(--panel-spacing) / 2;
      border-radius: 20px 0 0 0;
      transition: background-color $theme_change_transition;
    }
  }
}

.underBar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 3rem;
  width: 100%;
  max-height: 100%;
  min-height: fit-content;
  padding: 0;
  border-radius: 0;
  background-color: var(--primary-colour-dark);

  --wipe-position: 100%;
  --gradient-length: 60%;
  --leftover-black: 2rem;

  -webkit-mask: linear-gradient(
    to left,
    black,
    black max(var(--wipe-position), var(--leftover-black)),
    transparent calc(var(--wipe-position) + var(--gradient-length)),
    transparent
  );
  mask: linear-gradient(
    to left,
    black,
    black max(var(--wipe-position), var(--leftover-black)),
    transparent calc(var(--wipe-position) + var(--gradient-length)),
    transparent
  );

  transition: --wipe-position 1000ms $ease-out, background-color 200ms, width $menu_transition, border-radius 1000ms;

  .galleryButton {
    width: var(--gallery-button-width);
    height: 30px;
    margin: 0 calc(100% - var(--gallery-button-width) - (var(--content-padding) * 2)) 0 0;
    padding: var(--content-padding);
    transition: margin 700ms $ease-in-out, width 700ms $ease-in;

    P {
      text-wrap: nowrap;
    }

    .galleryButtonIcon {
      height: 1.5rem;
      margin-left: 15px;
      fill: var(--text-colour-base);
    }
  }
}

.underBar.underBarSticky {
  --wipe-position: calc(-1 * 40%);

  background-color: var(--primary-colour-darkOpaque);
  backdrop-filter: blur(5px);
  transition: --wipe-position 2000ms cubic-bezier(0, 0.1, 0, 1);

  .galleryButton {
    --gallery-button-width: 2rem;
    width: var(--gallery-button-width);
    margin: 0 0 0 calc(100% - var(--gallery-button-width) - (var(--content-padding) * 2));
    transition: margin 400ms ease-out, width 400ms ease-out;

    p {
      display: none;
    }

    .galleryButtonIcon {
      margin: 0;
    }
  }
}

@include md {
  .heroContainer {
    height: calc(20% - (var(--panel-spacing) * 2));
  }

  .heroContainer.stickyHero {
    width: 100%;
  }

  .underBar {
    flex-direction: column;
    border-radius: 0 0 $panel-border-radius $panel-border-radius;
    margin: 0 auto;

    .galleryButton {
      display: flex;
      margin: 0 calc(100% - var(--gallery-button-width) - (var(--content-padding) * 2)) 0 0;
      padding: var(--content-padding);
    }
  }

  .underBar.underBarSticky {
    --wipe-position: calc(-1 * 50%);
    width: 100%;
    border-radius: 0 0 0 0;

    .galleryButton {
      margin: 0 0 0 calc(100% - var(--gallery-button-width) - (var(--content-padding) * 2));
    }
  }
}

@include md {
  .underBar.underBarSticky {
    --wipe-position: calc(-1 * 50%);
  }
}

@include lg {
  .underBar.underBarSticky {
    --wipe-position: calc(-1 * 52%);
  }
}

@include xl {
  .underBar.underBarSticky {
    --wipe-position: calc(-1 * 40%);
  }
}

@include xxl {
  .heroContainer.stickyHero {
    width: var(--page-width);
  }

  .underBar.underBarSticky {
    --wipe-position: calc(-1 * 20%);
    width: var(--page-width);
    border-radius: 0 0 $default_border_radius $default_border_radius;
  }
}
