.root {
  display: block;
  width: fit-content;
  overflow: hidden; // Prevents component-shift while images loading
  white-space: nowrap; // Prevents component-shift while images loading

  .thumbContainer {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .skeleton {
      position: absolute;
      top: 0;
      left: 0;
      background-color: lightgrey;
      height: 100%;
      width: 100%;
      z-index: -1;
    }

    .floatingInfo {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 80%;
      background-color: #0004;
      border-radius: 7px;
      padding: 2px;

      p {
        margin: 2px;
        // padding: 0 2px;
        font-size: 0.8rem;
        line-height: 0.8rem;
        color: white;
        width: fit-content;
      }
    }

    .hideInfo {
      display: none;
    }
  }

  .thumbContainer:not(:last-child) {
    margin-right: 6px;
  }
}
