$option_padding: 5px;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: background-color $menu_transition, box-shadow $menu_transition;
  background-color: var(--primary-colour-base-opaque1);
  border-radius: $default_border_radius;

  @include raisedContainer();

  &:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem var(--shadow-colour-base);
  }

  .selectBox {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - ($option_padding * 2));
    height: 2rem;
    min-height: 2rem;
    padding: 0 $option_padding;
    z-index: 1;
    transition: background-color $menu_transition;

    &:hover {
      background-color: var(--highlight-colour-base);
    }

    p {
      margin: 0;
      padding: 0;
      text-align: center;
      align-content: center;
    }
  }

  .optionBox {
    height: fit-content;
    width: 100%;
    background-color: var(--primary-colour-base-opaque1);
    transition: background-color $menu_transition;

    option {
      overflow: hidden;
      z-index: 1;
      padding: 2px $option_padding;
      width: calc(100% - ($option_padding * 2));

      &:hover {
        background-color: var(--highlight-colour-base);
      }
    }

    .selected {
      background-color: var(--highlight-colour-alternate1);

      &:hover {
        background-color: var(--highlight-colour-alternate2);
      }
    }
  }
}
