$borderPadding: 2rem;

.root {
  position: relative;
  width: calc(100% - calc($borderPadding * 2));
  padding: $borderPadding;

  .modal {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
    max-width: 400px;
    margin: 0 auto;
  }

  .logoContainer {
    display: flex;
    justify-content: end;
    background-color: var(--primary-colour-base);
    border-radius: $default_border_radius;

    .logo {
      padding: 2rem 0.5rem 0.5rem;
      height: 3rem;
    }
  }

  .formContainer {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--border-colour-base);
    border-radius: $default_border_radius;
  }

  .transparent {
    transition: opacity 200ms ease-in-out;
    opacity: 0;
  }

  @include aboveSm {
    .modal {
      margin-top: min(5vw, 8vh);
    }
  }
}
