.root {
  width: 100%;
  height: 100%;
  overflow-y: scroll; // force scrollbar to prevent flicker & re-render of ImageSequencer

  .contentContainer {
    width: calc(100% - (var(--nav-spacing) * 2));
    height: calc(100% - 3rem - (var(--nav-spacing) * 2));
    margin: var(--nav-spacing) auto;
    display: flex;

    .pageBorder {
      padding: var(--nav-spacing);
      border: 1px solid var(--border-colour-base);
      border-radius: $default_border_radius;
      width: 80%;
      height: fit-content;
      margin: 0 auto;

      .pageContainer {
        width: 100%;
        height: 100%;
      }
    }
  }
}
