.clickAway {
  background-color: var(--blurTint-colour-base);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.hide {
  display: none;
}

.blur {
  backdrop-filter: blur(3px);
}

.raise {
  // position: relative;
  z-index: 101;
}
