.clickAway {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: opacity var(--animation-delay) ease-out, background-color var(--animation-delay) ease-in-out;
  opacity: 0;
}

.hide {
  z-index: -100;
  // display: none; // breaks the transition-in animation!

  // if in the future this has to be hidden, you can gt it to work by setting
  // isClosing to true and setting false, the false being inside a setTimeout()
  // I have no idea why this worked and I figured using z-index was cleaner.
}

.blur {
  background-color: var(--blurTint-colour-base);
  backdrop-filter: blur(4px);
  opacity: 1;
}

.raise {
  z-index: 101;
}
