$panel-border-radius: 20px;

.root {
  --panel-spacing: 0.5rem;
  --content-padding: 0.5rem;
  --border-width: 10px;

  display: flex;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  height: fit-content;
  // min-height: 100%;
  margin: 0;

  .heroContainer {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 58px;
    padding: var(--content-padding) 0 0 0;
    margin-bottom: var(--content-padding);

    background-color: var(--primary-colour-base);
    border-radius: 0 0 0 $panel-border-radius;

    transition: background-color $theme_change_transition;

    .logoContainer {
      position: relative;
      width: 300px;
      height: 58px;
      margin: auto 0 0 auto;

      .logo {
        // width: 200px;
        background-color: var(--primary-colour-dark);
        padding: var(--panel-spacing) / 2;
        border-radius: $panel-border-radius 0 0 0;
        transition: background-color $theme_change_transition;
      }
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    .sidePanel {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      width: calc(100% - (var(--content-padding) * 2) - var(--border-width));
      border: var(--border-width) solid var(--primary-colour-base);
      border-right: unset;
      border-radius: $panel-border-radius 0 0 $panel-border-radius;
      background-color: var(--primary-colour-dark);
      padding: var(--content-padding);
      transition: background-color $theme_change_transition, opacity $theme_change_transition,
        border-color $theme_change_transition;

      .galleryButton {
        display: flex;
        width: 200px;
        height: 30px;
        margin: auto 0 auto auto;
      }
    }

    .content {
      width: calc(100% - (var(--content-padding) * 2) - 5px);
      height: fit-content;
      border: var(--border-width) solid var(--primary-colour-dark);
      border-bottom: unset;
      border-right: unset;
      border-radius: $panel-border-radius 0 0 0;
      padding: var(--content-padding);
      transition: background-color $theme_change_transition;
      margin-top: var(--panel-spacing);
    }
  }
}

@include belowMd {
  .root {
    .contentContainer {
      .sticky {
        background-color: var(--primary-colour-darkOpaque);
        backdrop-filter: blur(5px);
        border-color: var(--primary-colour-baseOpaque);
      }
    }
  }
}

@include md {
  .root {
    width: 90%;
    padding: 0 0 0 10%;

    .heroContainer {
      height: calc(20% - (var(--panel-spacing) * 2));
    }

    .contentContainer {
      flex-direction: row;

      .sidePanel {
        flex-direction: column;
        min-height: calc(70vh - var(--panel-spacing));
        width: calc(15% - (var(--panel-spacing) * 2));
        border-right: var(--border-width) solid var(--primary-colour-base);
        border-radius: $panel-border-radius 0 0 0;
        margin: 0;

        .galleryButton {
          display: flex;
          width: 50px;
          height: 50px;
          margin-top: 20%;
        }
      }

      .content {
        margin-left: var(--panel-spacing);
        margin-top: 0;
        border-radius: 0;
      }
    }
  }
}
