@import "@/style/_imports.scss";

.root {
  --logo-width: 3rem;
  --logo-padding: 2px;

  display: block;
  width: calc(var(--logo-width) - (var(--logo-padding) * 2));
  height: calc(100% - (var(--logo-padding) * 2));
  padding: var(--logo-padding);
  border-radius: $default_border_radius;
  background-color: var(--primary-colour);

  .link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;

    .imageSm {
      display: block;
    }

    .imageMd {
      display: none;
    }

    .imageLg {
      display: none;
    }
  }
}

@include md {
  .root {
    --logo-width: 4rem;
    .link {
      .imageSm {
        display: none;
      }

      .imageMd {
        display: block;
      }
    }
  }
}

@include lg {
  .root {
    --logo-width: 12rem;

    .link {
      .imageSm {
        display: none;
      }

      .imageMd {
        display: none;
      }

      .imageLg {
        display: block;
      }
    }
  }
}
