.root {
  height: fit-content;
  max-height: 80%;
  overflow: auto;
}

.expandingLayerContainer {
  height: fit-content;
}

.sectionName {
  border: 1px solid red;
}

.collapsingBox {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 0;
}

.fitContent {
  height: fit-content !important;
}
