.root {
  height: fit-content;
  max-height: 80%;
  overflow: auto;
}

.expandingLayerContainer {
  height: fit-content;
}

.sectionName {
  // border: 1px solid red;
}

.collapsingBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
}

.isHidden {
  display: none;
}

.isOpenList {
  border-left: 1px solid var(--border-colour-base);
  border-right: 1px solid var(--border-colour-base);
  border-bottom: 1px solid var(--border-colour-base);
  background-color: var(--highlight-colour-alternate2);
  padding-left: 1em;
}

.isOpenLabel {
  border-left: 1px solid var(--border-colour-base);
  border-right: 1px solid var(--border-colour-base);
  border-top: 1px solid var(--border-colour-base);
  background-color: var(--highlight-colour-alternate2);
}
