.root {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: var(--primary-colour-base-opaque1);
  margin: var(--nav-spacing) auto 0 auto;
  transition: opacity 200ms ease-in-out;
  opacity: 1;

  left: 50%;
  transform: translateX(-50%);

  .content {
    height: calc(100% - 1em);
    padding: 0.5em;
    position: relative;

    .userProfileContainer {
      width: 100%;
      background-color: var(--highlight-colour-base);
      border-radius: 0.3em;
      height: 4em;
      align-items: center;
      align-content: center;
    }

    .galleriesMenu {
      display: flex;
      flex-direction: column;
      max-height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;

      a {
        margin: 0 1rem 0 auto;
      }
    }

    .settingsLink {
      position: absolute;
      bottom: 0.5em;
      left: 0.5em;
      width: calc(100% - 1em);
      height: 4em;
      align-content: center;
      border-radius: 0.3em;

      background-color: var(--highlight-colour-base);
    }
  }
}

@include aboveSm {
  .root {
    width: 80%;

    border-radius: $default_border_radius;

    @include raisedContainer();
  }

  .isTransparent {
    opacity: 0;
  }
}

@include aboveMd {
  .root {
    height: 80vh;
    left: 0;
    transform: unset;
  }
}

@include aboveLg {
  .root {
    .content {
      .userProfileContainer {
        height: 6em;
      }

      .settingsLink {
        height: 6em;
      }
    }
  }
}
