.root {
  position: absolute;
  overflow: hidden;
  // display: block;
  width: 0;

  // height: 100%;
  border-radius: $default_border_radius;
  background-color: var(--primary-colour-base);
  margin-top: var(--nav-spacing);
}
