$titleHeight: 3em;

.root {
  height: 100%;
  width: 100%;

  .title {
    height: $titleHeight;
  }

  .imageContainer {
    position: relative;
    height: calc(100vh - $titleHeight - (var(--nav-spacing) * 4) - 3rem);
    width: 100%;

    // .image {
    //   height: 100%;
    //   width: fit-content;
    // }
  }
}
