$titleHeight: 3em;

.root {
  height: 100%;
  width: 100%;

  .title {
    height: $titleHeight;
  }

  .imageContainer {
    height: calc(100% - $titleHeight);

    .image {
      height: 100%;
      width: fit-content;
    }
  }
}
