.root {
  height: 100%;
  display: flex;
  flex-direction: column;

  .input {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .label {
      position: absolute;
      top: 8px;
      left: 20px;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--text-colour-ghost);
      transform-origin: 0 0;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s $ease-in-out;
      pointer-events: none;
      // z-index: 0;
    }

    .inputBox {
      position: relative;
      -webkit-appearance: none;
      appearance: none;
      width: calc(100% - 20px);
      height: 100%;
      border: 0;
      font-family: inherit;
      padding: 8px 8px 0 10px;
      // height: 2.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      border: 1px solid var(--border-colour-base);
      border-radius: $default_border_radius;
      color: var(--text-colour-base);
      transition: all 0.15s ease;

      &:hover {
        background: var(--background-colour-textBox);
      }

      &:focus,
      &:not(:placeholder-shown) {
        background: var(--background-colour-textBox);
        outline: none;
        border: 1px solid var(--background-colour-base);
        box-shadow: inset 0 -2px 0 var(--primary-colour-base);
        border-radius: $default_border_radius $default_border_radius 0 0;

        + .label {
          color: var(--primary-colour-base);
          transform: translate3d(-10px, -6px, 0) scale(0.5);
        }
      }
    }

    .inputBoxError,
    .inputBoxError:focus,
    .inputBoxError:not(:placeholder-shown) {
      box-shadow: inset 0 0 5px 0px var(--error-colour-shading);
      width: calc(100% - 22px);
      border: 2px solid var(--error-colour-border);
    }

    .eye {
      position: absolute;
      right: 1rem;
      height: 100%;
      align-content: center;
      z-index: 2;
      cursor: pointer;

      svg {
        padding-top: 4px;
      }
    }
  }

  .messageContainer {
    height: 3rem;
    // border: 1px solid red;
    border-radius: $default_border_radius;
    align-content: center;

    p {
      margin: 0;
      padding-left: 0.5em;
    }
  }

  .errorMessage {
    background-color: var(--error-colour-background);
    color: var(--error-colour-text);
  }

  .successMessage {
    background-color: var(--success-colour-background);
    color: var(--success-colour-text);
  }
}
