/*
*   Colours:
*/

// Default theme
$background_colour_theme_light: #fff;
$foreground_colour_theme_light: #bbe7ff;
$primary_colour_theme_light: #00daab;

/*
*   Distances
*/

$sm_nav_spacer: 6px;
$md_nav_spacer: 10px;
$lg_nav_spacer: 14px;
$xl_nav_spacer: 18px;
