/*
*   Colours:
*/

$theme-colours: (
  dark: (
    blurTint: (
      base: #00002030,
    ),
    text: (
      base: #ece9d2,
      alternate: #ece9d2,
    ),
    background: (
      base: #000,
    ),
    foreground: (
      base: #bbe7ff,
    ),
    border: (
      base: #a2a2c2,
    ),
    shadow: (
      base: #666178,
    ),
    highlight: (
      base: #43404e,
      base-opaque1: #43404ec0,
      alternate1: #5b5470,
      alternate1-opaque1: #5b5470c0,
      alternate2: #484171,
      alternate2-opaque1: #372a80c0,
      alternate3: #8176c0,
      alternate4: #151519,
    ),
    primary: (
      lighter: #6c648b,
      light: #564f6f,
      base: #3b374f,
      base-opaque1: #3b374fc0,
      dark: #323043,
      dark-opaque1: #323043c0,
      darker: #1c1c28,
    ),
    secondary: (
      lighter: #201f26,
      light: #201f26,
      base: #201f26,
      dark: #201f26,
      darker: #201f26,
    ),
  ),
  light: (
    blurTint: (
      base: #ffffff70,
    ),
    text: (
      base: #073526,
      alternate: #a6deca,
    ),
    background: (
      base: #fff,
    ),
    foreground: (
      base: #bbe7ff,
    ),
    border: (
      base: darkslategray,
    ),
    shadow: (
      base: #406f6580,
    ),
    highlight: (
      base: #2dbc9d,
      base-opaque1: #2dbc9d80,
      alternate1: #3e8b7a,
      alternate1-opaque1: #3e8b7a80,
      alternate2: #48766c,
      alternate2-opaque1: #48766c80,
      alternate3: #b3f8e9,
      alternate4: #151519,
    ),
    primary: (
      lighter: #b3f8e9,
      light: #63e1c6,
      base: #00daab,
      base-opaque1: #00daab80,
      dark: #406f65,
      dark-opaque1: #406f6580,
      darker: #151519,
    ),
    secondary: (
      lighter: #201f26,
      light: #201f26,
      base: #201f26,
      dark: #201f26,
      darker: #201f26,
    ),
  ),
);

/*
*   Distances
*/

$sm_nav_spacer: 4px;
$md_nav_spacer: 8px;
$lg_nav_spacer: 12px;
$xl_nav_spacer: 16px;

$default_border_radius: 7px;

/*
* Timing
*/

$ease-in: cubic-bezier(1, 0, 1, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$ease-in-in-out: cubic-bezier(1, 0, 0.9, 1);
$ease-out: cubic-bezier(0, 0, 0, 1);
$menu_transition: 400ms ease-out;
$theme_change_transition: 2000ms ease-in-out;
