.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1.25rem;

  input[type="checkbox"]:checked:not(:indeterminate) {
    // accent-color: var(--highlight-colour-base);
  }

  input[type="checkbox"]:indeterminate {
    // muted tick/dash — text.muted from $theme-colours
    // accent-color: var(--text-colour-muted);
  }
}
