.root {
}

.empty {
  margin: 0;
  opacity: 0.8;
}

.header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.25rem;
  background-color: var(--primary-colour-lighter);
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: $default_border_radius;
}

.caption {
  font-size: 0.85em;
  opacity: 0.8;
}

.name {
  margin: 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.publicForm {
  display: flex;
  justify-content: flex-start;
}

.accordion {
  border: 1px solid var(--border-colour-base);
  border-radius: $default_border_radius;
  padding: 0.5rem;
}
