.logoContainer {
  display: flex;
  justify-content: end;
  background-color: var(--primary-colour-base);
  border-radius: $default_border_radius;

  .logo {
    padding: 2rem 0.5rem 0.5rem;
    height: 3rem;
  }
}

.formContainer {
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--border-colour-base);
  border-radius: $default_border_radius;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputBoxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // height: fit-content;
      height: 100%;

      + .inputBoxes {
        margin-top: 1rem;
      }
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .buttons {
      width: 30%;
      height: 2em;
    }
  }

  .signup {
    a {
      color: var(--text-colour-alternate);
    }
  }
}
