.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  padding: 1rem;

  h2 {
    margin: 0;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .inputBoxes {
      + .inputBoxes {
        margin-top: 1rem;
      }
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .buttons {
      width: 30%;
      height: 2em;
    }
  }
}
